@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --main-bg-color:#FFFFFF;
    --text-color:#121212;
    --border-input-color:#121212;
    --btn-bg-color:#121212;
    --title-bg-color:#121212;
    --title-color:#FFFFFF;
    --skills-bg-color:#414141;
    --skills-text-color:#FFFFFF;
    --hover-bg-color:#414141;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

section{
    max-width: 1940px;
    padding: 0 10px;
    margin: 0 auto;
}