.hero {
    display: flex;
    background: var(--main-bg-color);
    box-sizing: border-box;
}

.foto {
    max-width: 638px;
    box-sizing: border-box;
}

.foto__img {
    width: 638px;
    height: 1080px;
    background-image: url("../img/foto.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.foto__title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    background-color: var(--title-bg-color);
    color: var(--title-color);
}

.content {
    padding: 60px 10px 0 70px;
    background: url(../img/fon.jpg) 100% 100%/auto 100% no-repeat
}

.content__fio {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: var(--text-color);
}

.content__city {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--text-color);
}

.socials__list {
    padding: 50px 0;
    display: flex;
    gap: 30px;
}

.skills {
    margin-bottom: 50px;
}

.skills__list {
    max-width: 1050px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skills__item {
    margin: 0;
    padding: 14px 55px;
    background-color: var(--skills-bg-color);
    border-radius: 45px;
    font-weight: 500;
    font-size: 32px;
    color: var(--skills-text-color);
}

.about .label {
    display: block;
    margin-bottom: 20px;
}

.about__text {
    max-width: 1026px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-indent: 30px;
    color: var(--text-color);
}

.form {
    max-width: 702px;
    margin-top: 50px;
}

.form__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__input {
    width: 338px;
    height: 66px;
    padding: 14px 16px;
    border: 1px solid var(--border-input-color);
    border-radius: 11px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: var(--text-color);
}

.form__input::placeholder {
    color: var(--text-color);
}

.form__submit {
    width: 100%;
    margin-top: 20px;
    padding: 14px 0;
    text-align: center;
    background-color: var(--text-color);
    border-radius: 11px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.form__submit:hover{
    background-color: var(--hover-bg-color);
    cursor: pointer;
}

@media (max-width: 1700px) {
    .foto__img {
        background: url("../img/foto2.jpg") 100% 100%/auto 100% no-repeat;
        /*height: 100%;*/
    }

    .foto, .foto__img {
        width: 372px;
        height: 724px;
    }

    .foto__title {
        font-size: 36px;
    }

    .content {
        padding: 20px;
    }

    .content__fio {
        font-size: 32px;
        line-height: 38px;
    }

    .content__city {
        font-size: 20px;
        line-height: 23px;
    }

    .content .label {
        font-size: 24px;
        line-height: 28px;
    }

    .about__text {
        font-size: 20px;
        line-height: 23px;
        text-indent: 30px;
    }

    .skills__item {
        padding: 10px 45px;
        font-size: 24px;

    }

    .form {
        max-width: 484px;
    }

    .form__input {
        width: 232px;
        height: 48px;
        font-size: 24px;
        line-height: 28px;
    }

    .form__submit{
        padding: 10px;
        font-size: 24px;
    }

}

@media (max-width: 890px) {
    .hero {
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .foto__title{
        font-size: 24px;
    }

    .socials__list {
        flex-wrap: wrap;
    }

    .form__wrapper {
      flex-wrap: wrap;
    }

    .form__submit{
        padding: 8px;
        font-size: 16px;
        line-height: 19px;
    }
    .form__input{
        width: 100%;
        margin-bottom: 10px;
    }
}


